<form action="<%= sub_url(@sub) %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <%= auth_token %>

  <label>
    Name
    <input type="text" name="sub[name]" value="<%= @sub.name %>">
  </label>

  <p><input type="submit" value='Edit Sub "Reddit"'></p>
</form>