<form id="new-photo" action="/api/photos" method="post">
  <label>
    Title
    <input type="text" name="photo[title]">
  </label>

  <label>
    URL
    <input type="text" name="photo[url]">
  </label>

  <input type="submit" value="DUCKFACE">
</form>