<h1>Post a Link</h1>
<form action="<%= links_url %>" method="post">

<%= auth_token %>

  <label>
    Title
    <input type="text" name="link[title]">
  </label>

  <label>
    URL
    <input type="text" name="link[url]">
  </label>

  <label>
    Body
    <input type="text" name="link[body]">
  </label>


  <input type="hidden" name="link[sub_ids][]" value="">
  <% Sub.all.each do |sub| %>

    <label>
      <%= sub.name %>
      <input type="checkbox" name="link[sub_ids][]" value="<%= sub.id %>">
    </label>

  <% end %>

  <p><input type="submit" value="Post Link"></p>
</form>
